/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 8% 15%;
}

.flex {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
}

button {
  background-color: #1c5380;
  color: white;
  width: 100px;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}

/* .main {
  justify-content: space-between;
}
*/
.left-side {
  width: 30%;
}

.right-side {
  width: 50%;
}

.text {
  border: solid black 2px;
  width: 60%;
  padding: 5% 15%;
}

.apps {
  align-items: center;
  padding: 0 15%;
  margin: 3%;
  justify-content: space-around;
}

footer {
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

footer a {
  text-transform: uppercase;
  color: #1c5380;
}

footer p {
  text-transform: uppercase;
  color: grey;
}
